<div class="banner-show" style="background-image: url('<%= cl_image_path "jixeppgdpp3dzrdnu77d.jpg"%>')">

</div>
<div class="wrap-grey">
  <div class="container">
  <h2 id="form-h2-new">Create new cocktail</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= simple_form_for @cocktail, html: {class: 'my-form'} do |f| %>
          <%= f.input :name, label_html: { class: 'form_label' }, label: 'Name*', error: 'Name can not be blank', hint: false, input_html: { class: 'my-form' }, :error_html => { :class => "name_error"} %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.button :submit, class: "button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

