<%= @cocktail.name %>

<% if @cocktail.doses %>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li> <%= dose.description %> ||  <%= dose.ingredient.name  %> <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete  %> </li>
  <% end %>
</ul>
<% end %>



<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, prompt: "Select" %>
  <%= f.submit %>
<% end %>




<%= link_to "Back", cocktails_path  %>

